<!DOCTYPE html>
<html>
  <%- include("default/header"); %>
  <body>
    <%- include("default/nav"); %>
    <div class="jumbotron text-center">
      <h2 class="display-4"><%= error.status %></h2>
      <p class="lead"><%= message %></p>
    </div>
    <%- include("default/footer"); %>
  </body>
</html>
