<!DOCTYPE html>
<html>
  <%- include("../default/header"); %>
  <body>
    <%- include("../default/nav"); %>

    <div class="jumbotron">
      <div class="jumbotron text-center">
        <% if(nickname) { %>
        <h2 class="display-4 text-default"><%= nickname %></h2>
        <p class="lead">나의 정보</p>
        <hr class="my-4" />
        <h3>
          유저 레벨 :
          <a class="text-default"><%= accLevel %></a>
        </h3>
        <h3>
          기여 횟수 :
          <a class="text-default" href="/history/user/<%= nickname %>"
            ><%= contribution_count %></a
          >
        </h3>
        <% if (accLevel == 1) { %>
        <p>기본적인 문서 작성이 가능합니다!</p>
        <% } else if (accLevel == 2) { %>
        <p>일부 특수 문서까지 수정이 가능합니다!</p>
        <% } else { %>
        <p>모든 문서 수정이 가능합니다!</p>
        <% } %>
        <p>마음대로 작성하고 수정하세요!</p>

        <button
          type="button"
          class="btn btn-outline-primary waves-effect"
          href="#"
          onclick="window.open('/auth/change-nickname',
      '고래위키에 로그인',
      'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=500,height=500' )"
        >
          닉네임 변경
        </button>
        <button
          id="logout"
          class="btn btn-outline-primary waves-effect"
          onclick="logout()"
        >
          log out
        </button>
        <% if (accLevel == 3) { %>
        <a
          type="button"
          class="btn btn-outline-primary waves-effect"
          href="/user/admin"
        >
          Admin Page
        </a>
        <% } %>
        <script type="text/javascript">
          function logout() {
            if (confirm("정말 로그아웃 하시겠습니까?")) {
              $.ajax({
                type: "GET",
                url: "/auth/logout",
                success: function (response) {
                  location.href = "/";
                  alert("로그아웃 되었습니다.");
                },
                error: function (request, status, error) {
                  if (request) {
                    console.log(request);
                    alert(request.responseText);
                  }
                },
              });
              return false;
            }
          }
        </script>
        <hr class="my-4" />

        <div class="form-row">
          <div class="col"></div>
          <div class="col form-row">
            <div class="col-md-5"></div>
            <div class="text-right md-form col-md-4">
              <input type="password" id="user_pwd" class="form-control row" />
              <label for="user_pwd">Password</label>
            </div>
            <div class="col">
              <button
                id="logout"
                class="btn btn-danger row"
                onclick="withdrawal()"
              >
                탈퇴하기
              </button>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          function withdrawal() {
            if (confirm("정말 탈퇴 하시겠습니까?")) {
              const passwd = $("#user_pwd").val();
              $.ajax({
                type: "DELETE",
                url: "/auth/withdrawal",
                data: {
                  passwd,
                },
                success: function (response) {
                  location.href = "/";
                  alert("탈퇴 되었습니다.");
                },
                error: function (request, status, error) {
                  console.log(request);
                  alert(request.responseText);
                },
              });
              return false;
            }
          }
        </script>

        <% } else { %>
        <h2 class="display-4 text-warning">UNKNOWN</h2>
        <p class="lead">먼저 로그인을 해주세요</p>
        <hr class="my-4" />
        <p>문서 편집 권한이 없습니다.</p>
        <button
          type="button"
          class="btn btn-outline-primary waves-effect"
          href="#"
          onclick="window.open('/auth/login',
      '고래위키에 로그인',
      'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=500,height=500' )"
        >
          Login
        </button>
        <% } %>
      </div>
    </div>
    <%- include("../default/footer"); %>
  </body>
</html>
