<!DOCTYPE html>
<html>
  <%- include("../default/header"); %>
  <body>
    <label id="_title" style="display: none;"><%= title %></label>
    <%- include("../default/nav"); %>
    <div class="jumbotron">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <!-- Title -->
        <div class="text-center">
          <h2 class="card-title h2"><%= title %></h2>
          <p class="blue-text my-4 font-weight-bold"><%= subtitle %></p>
        </div>
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
          <!-- Grid column -->
          <div class="col-xl-7 pb-2">
            <%- data %>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->

        <hr class="my-4" />

        <div class="row d-flex justify-content-center">
          <!-- Grid column -->
          <div class="col-xl-7 pb-2">
            <p class="card-text">
              최종수정일 : <%= created %>
            </p>
            <p class="card-text">
              작성자 : <%= creator.nickname %> (<%= creator.email.slice(0, 3)+"***" %>)
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <div class="pt-2 text-right">
          <button
            type="button"
            class="btn btn-green waves-effect"
            onclick="location.href='/history/w/<%= title %>'"
          >
            역사
          </button>
          <button
            type="button"
            class="btn btn-blue waves-effect"
            onclick="edit()"
          >
            문서 수정하기
          </button>
          <% if (accLevel >= 2) { %>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-rounded"
              onclick="del('<%= title %>')"
            >
              X
            </button>
          </td>
          <% } %>
        </div>
        <!-- Grid row -->
      </div>
      <!-- Jumbotron -->
    </div>
    <% if (accLevel >= 2) { %>
    <script type="text/javascript">
      function del(title) {
        if (confirm("정말 삭제하시겠습니까?")) {
          $.ajax({
            type: "DELETE",
            url: "/w/" + title,
            success: function (response) {
              alert("삭제되었습니다.");
              document.location.reload();
            },
            error: function (request, status, error) {
              console.log(request);
              alert(request.responseText);
            },
          });
        }
      }
    </script>
    <% } %> <%- include("../default/edit"); %> <%- include("../default/footer");
    %>
  </body>
</html>
